/* Style the website you made last week using CSS. Below are the requirements:
Use only external CSS file (no internal or inline styling)
Every element must be styled
Create style rules using class, id, and element selectors */


h1 {
    font-family:avenir;
    text-align: center;
    font-size: 28pt;
}

a {
    font-family:avenir;
    text-align: center;
    font: size 12pt;;
}
