
body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

button{
    border: 0;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: aquamarine;
}

button:hover {
    background-color: #363535;
}

nav.navbar {
    background-color: lightslategray;
    color: white;
    padding: 15px;
    display:flex;
    justify-content: space-between;
}

nav.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

nav.navbar ul li {
    margin: 0 15px;
}

nav.navbar a {
    color: white;
    text-decoration: none;
}

/* ******  rows  ****** */

.row {
    max-width: 900px;
    margin: 0 auto;
}

.jumbo {
    background-image: url();
    background-size: cover;
    height: 500px;

}
.jumbo h2 {
    color: gray;
    opacity: 0.9%;
    font-size: 4rem;
    margin: 20px;
    background-color: #fafafa;
    width: 270px;
    padding: 15px;  
    border-radius: 10px;
}


/* ****** footer ******* */


footer {
    background-color: gray;
    padding: 15px;
}